@{
    Layout = null;
}
@model HanbizaMVC.Models.OnlyLogin

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <title>Hanbiza</title>
    <style>
        #loginBody {
            background-color: #214085;
        }
    </style>
</head>
<body id="loginBody">
    <div class="topbar">

    </div>
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
                <div class="card o-hidden border-0 shadow my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center mb-4">
                                        <img src="~/img/hanbizalogo.png" alt="한비자" width="200" />
                                    </div>
                                    <div class="form-group">
                                        <input id="userID" type="text" class="form-control form-control-user" placeholder="사용자 ID를 입력하세요" onkeyup="enterkey()" value="">
                                    </div>
                                    <div class="form-group">
                                        <input id="userPWD" type="password" class="form-control form-control-user" placeholder="비밀번호를 입력하세요" onkeyup="enterkey()" value="">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck" name="Auto_save" checked>
                                            <label class="custom-control-label" for="customCheck">ID 저장</label>
                                        </div>
                                    </div>
                                    @*<hr>
                                        <a href="index.html" class="btn btn-google btn-user btn-block">
                                            <i class="fab fa-google fa-fw"></i> Login with Google
                                        </a>
                                        <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                            <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                        </a>*@
                                    <input type="button" class="btn btn-primary btn-user btn-block" value="로 그 인"
                                           style="font-weight:bold;" onclick="checkinput()">
                                    <p style="font-size:smaller; text-align:center; margin:5px;">* 비밀번호 문의는 인사담당자에게 요청하세요 *</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            checkCookie();

            $("#customCheck").change("click", function () {
                if ($("#customCheck").is(":checked")) {
                    //alert("checked")
                    $("#customCheck").val("auto_save");
                } else {
                    //alert("not")
                    $("#customCheck").val("not_save");
                }
            });

        })
        function enterkey() {
            if (window.event.keyCode == 13) {
                checkinput();
            }
        }
        function checkCookie() {
            //alert(@ViewBag.loginID);
            $("#userID").val("@ViewBag.loginID");
        }

        function checkinput() {
            if ($("#userID").val() == "") {
                alert("아이디를 입력하세요");
                $("#userID").focus();
                return;
            }
            if ($("#userPWD").val() == "") {
                alert("비밀번호를 입력하세요");
                $("#userPWD").focus();
                return;
            }
            let userID = $("#userID").val();
            let userPWD = $("#userPWD").val();
            loginProcess(userID, userPWD);
        }

        function loginProcess(userID, userPWD) {

            let autoSave = $("#customCheck").val();
            //alert(autoSave);
            $.ajax({
                type: 'POST',
                url: '/Account/Login/' + userID + "/" + userPWD + "/" + autoSave,
                dataType: "text",
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    if (result == "success") {
                        location.href = "/Home/Index";
                    } else {
                        alert("ID와 비밀번호를 확인하세요")
                        $("#userPWD").focus();
                    }
                },
                error: function () {
                    alert("err");
                }
            })
        }

    </script>
</body>
</html>