@model UserViewModel
@{
   
    ViewData["Title"] = "Home Page";
    // c# 코드 여러줄 작성
    // ViewData 사용시 as 권장
    var user = ViewData["T2"] as User;
}

    <div class="text-center">
        <h1 class="display-4">@ViewBag.Test</h1>
        <h2 class="display-4">@user.UserName</h2>
        <h3 class="display-4">@Model.UserAge</h3>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
