@{
    ViewData["Title"] = "공지사항";

    
}
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        
        <p>@ViewBag.Cname</p>

        @if(null != TempData["loginUser"])
        {
            foreach (var user in TempData["loginUser"] as string)
            {
                <p>@user</p>
            }
        }
        else
        {
            <ul>no data</ul>
        }

    </div>
