@{
    ViewData["Title"] = "확인서명";
}
@model 문서함
<div class="container">
    <div class="card" style="width:300px; margin: 0 auto">
        <input type="hidden" id="SEQID" value="@ViewBag.SEQID" />
        <div class="card-body p-0">
            <div class="text-center">
                @if (ViewBag.mySign == null)
                {
                    <canvas id="drawCanvas" width="300" height="182" style="border:0px solid #d0eaf8;" align="center" @*src="~/img/canvas_empty.jpg"*@>Canvas not supported</canvas>
                    <canvas id='blank' width="300" height="182" style='display:none'></canvas>
                    <div class="btn_div">
                        <button id="btnClear"class="btn btn-sm btn-outline-secondary">취소하기</button>
                        <button id="btnSave" class="btn btn-sm btn-primary">등록하기</button>
                    </div>
                    <br />
                    <div class="sign_txt">
                        등록 후 수정이 불가하니 <br />
                        신중하게 서명하시기 바랍니다!
                    </div>
                }
                else
                {
                    <img src="@ViewBag.mySign" alt="서명" />
                    <div class="sign_txt">등록된 서명입니다!</div>
                }
                </div>
            @*<button type="button" onclick="signDown(@ViewBag.SEQID)">button다운</button>
            <a id="link"></a>*@
        </div>
    </div>
</div>

<script>
    //function signDown(SEQID) {
        //alert(SEQID);
        //var link = document.getElementById('link');
        //link.setAttribute('download', 'MintyPaper.png');
        //link.setAttribute('href', document.getElementById("drawCanvas").toDataURL("image/png").replace("image/png", "image/octet-stream"));
        //alert(link);
        //link.click();

    //    location.href = "/File/SignDownload/" + SEQID;
    //}

    $(document).ready(function () {
        var SEQID = $("#SEQID").val();
        if (SEQID == null) SEQID = "0";
    
        var drawCanvas = document.getElementById('drawCanvas');
        var drawBackup = new Array();

        if (typeof drawCanvas.getContext == 'function') {
            var ctx = drawCanvas.getContext('2d');
            ctx.fillStyle = '#fff';  /// set white fill style
            ctx.fillRect(0, 0, drawCanvas.width, drawCanvas.height);
            var isDraw = false;
            var width = "4";
            var color = "#000";
            var pDraw = $('#drawCanvas').offset();
            var currP = null;

            // Event (마우스)
            $('#drawCanvas').on('mousedown', function (e) {
                if (e.button === 0) {
                    saveCanvas();
                    e.preventDefault();
                    ctx.beginPath();
                    isDraw = true;
                }
            });

            $('#drawCanvas').on('mousemove', function (e) {
                var event = e.originalEvent;
                e.preventDefault();
                currP = { X: event.offsetX, Y: event.offsetY };
                if (isDraw) draw_line(currP);
                /*
                isDraw = true;
                */
            });

            $('#drawCanvas').on('mouseup', function (e) {
                e.preventDefault();
                isDraw = false;
            });
            $('#drawCanvas').on('mouseleave', function (e) {
                isDraw = false;
            });


            // Event (터치스크린)
            $('#drawCanvas').on('touchstart', function (e) {
                saveCanvas();
                e.preventDefault();
                ctx.beginPath();
            });
            $('#drawCanvas').on('touchmove', function (e) {
                var event = e.originalEvent;
                e.preventDefault();
                currP = { X: event.touches[0].pageX - pDraw.left, Y: event.touches[0].pageY - pDraw.top };
                draw_line(currP);
            });
            $('#drawCanvas').on('touchend', function (e) {
                e.preventDefault();
            });

            // 선 그리기
            function draw_line(p) {
                ctx.lineWidth = width;
                ctx.lineCap = 'round';
                ctx.lineTo(p.X, p.Y);
                ctx.moveTo(p.X, p.Y);
                ctx.strokeStyle = color;
                ctx.stroke();
            }

            function clearCanvas() {
                ctx.clearRect(0, 0, drawCanvas.width, drawCanvas.height);
                ctx.beginPath();
                localStorage.removeItem('imgCanvas');
            }

            function saveCanvas() {
                drawBackup.push(ctx.getImageData(0, 0, drawCanvas.width, drawCanvas.height));
            }

            $('#btnClear').click(function () {
                clearCanvas();
            });

        }

        var canvas_chk = document.getElementById('drawCanvas');
        document.getElementById('btnSave').addEventListener('click', function () {
            if (canvas_chk.toDataURL() == document.getElementById('blank').toDataURL()) {
                alert('서명을 등록해 주세요!'); return false;
            } else {
                UploadPic(); return true;
            }
        });

        function UploadPic() {
            ////	generate the image data
            //var Pic = document.getElementById("drawCanvas").toDataURL("image/png")/*.replace("image/png", "image/octet-stream")*/;
            //console.log("1 toDataURL: " + Pic);
            ////window.location.href = Pic;

            //Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")
            //console.log("2: " + Pic);

            var SEQID = $("#SEQID").val();
            if (SEQID == null) SEQID = "0";
            console.log("3: " + SEQID)

            //var imgDataUrl = document.getElementById("drawCanvas").toDataURL("image/jpeg", 1.0); // 캔버스 이미지 정보를 base64 문자열로 변환 jpeg
            var imgDataUrl = document.getElementById("drawCanvas").toDataURL("image/png"); // 캔버스 이미지 정보를 base64 문자열로 변환 png

            var blobBin = atob(imgDataUrl.split(',')[1]);     // base64 header 와 body 분리
            //var blobBin = atob(imgDataUrl);// base64를 디코딩하여 이진데이터로 전환
            var array = [];
            for (var i = 0; i < blobBin.length; i++) {
                array.push(blobBin.charCodeAt(i));
            }

            //var file = new Blob([new Uint8Array(array)], { type: 'image/jpeg' });	// Blob 생성 jpeg
            var file = new Blob([new Uint8Array(array)], { type: 'image/png' });	// Blob 생성 png

            var formData = new FormData();	// formData 생성
            formData.append("file", file);	// file data 추가

            //alert("===일시정지===" + formData.get("file").size)

            $.ajax({
                url: "/File/SaveSign",
                type: "POST",
                processData: false,	// data 파라미터 강제 string 변환 방지!!
                contentType: false,	// application/x-www-form-urlencoded; 방지!!
                data: formData,
                success: function (rs) {
                    alert("서명이 등록되었습니다!");
                    location.reload(true);
                },
                error: function (rs) {
                    alert("요청 실패");
                }
            })

        }
    });
</script>





