@{
    ViewData["Title"] = "확인서명";
}
@model List<문서함>

<div class="row justify-content-center">
    @if (ViewBag.mySign == null )
    {
        <div class="col-xl-4 col-sm-12">
            <div class="text-center">
                <div class="card">
                    <div class="card-body">
                        <img src="@ViewBag.mySign" alt="확인서명"/>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-xl-4 col-sm-12">
            <div class="text-center">
                <div class="card">
                    <form action="/" method="post"> @* 경로 설정 필요 *@
                        <div class="card-body">
                            <canvas id="drawCanvas" width="300" height="182" style="border:0px solid #d0eaf8;" align="center">Canvas not supported</canvas>
                            <canvas id='blank' width="300" height="182" style='display:none'></canvas>
                        </div>

                        <div class="btn_div" style="display:none;">
                            <button id="btnClear">취소하기</button>
                            <button id="btnSave">등록하기</button>
                        </div>
                        <div class="sign_txt">등록 후 수정이 불가하니 신중하게 서명하시기 바랍니다!</div>
                    </form>
                </div>
            </div>
        </div>
    }
</div>




