@{
    ViewData["Title"] = "내문서";
}
@model List<문서함>
<div class="text-center col-12 col-sm-8 offset-sm-2 p-2" style="background-color:white">
    <div class="table-responsive">
        <table class="table-sm table-bordered" style="width:100%">
            <thead>
                <tr style="background-color: #3763ab; color:white">
                    <th>수신일</th>
                    <th>파일명</th>
                    <th>다운</th>
                    <th>서명</th>
                </tr>
            </thead>
            <tbody>
                @if (Model == null)
                {
                    <tr>
                        <td colspan="4">데이터가 없습니다</td>
                    </tr>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@string.Format("{0:yyyy-MM-dd HH시 mm분}", item.Regdate)</td>
                            <td>@item.FileName</td>
                            <td><a href="/File/FileDownload/@item.SeqId"><i class="fas fa-fw fa-download"></i><span>저장하기</span></a></td>
                            <td>
                                <a href="/MyInfo/Sub8_1/@item.SeqId">
                                    @if(item.IsSignature.Equals("N")){
                                        <i class="fas fa-fw fa-signature"></i><span>서명하기</span>
                                    }else{
                                        <i class="fas fa-fw fa-envelope-open"></i><span>문서보기</span>
                                    }
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
