<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hanbiza</title>

    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>


    <link href="~/lib/bootstrap-3-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <style>
        .bg-gradient-primary {
            background-color: #214085;
            background-image: linear-gradient(180deg,#214085 100%,#214085 100%);
            background-size: cover;
        }
    </style>
</head>
<body id="page-top" class="">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Sub0">
                <img src="~/img/logo_main.png" alt="한비자" />
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            @* html.Partial("_myMenuLayout") *@

            <li class="nav-item">
                <a class="nav-link" href="/Home/Sub1">
                    <i class="fas fa-fw fa-user-check"></i>
                    <span>근태보기</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Sub2">
                    <i class="fas fa-fw fa-plus"></i>
                    <span>OT신청</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Sub3">
                    <i class="fas fa-fw fa-plane-departure"></i>
                    <span>휴가신청</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Sub4">
                    <i class="fas fa-fw fa-pen"></i>
                    <span>휴가결재</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Sub5">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>연차보기</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Home/Sub6">
                    <i class="fas fa-fw fa-coins"></i>
                    <span>급여명세서</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                내 정보
            </div>
            <li class="nav-item">
                <a class="nav-link" href="/MyInfo/Sub7">
                    <i class="fas fa-fw fa-signature"></i>
                    <span>확인서명</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MyInfo/Sub8">
                    <i class="fas fa-fw fa-file-alt"></i>
                    <span>내문서</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/MyInfo/Sub9">
                    <i class="fas fa-fw fa-key"></i>
                    <span>비밀번호변경</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Account/Logout">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>로그아웃</span>
                </a>
            </li>

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar title -->
                    <div class="title" style="font-size:large; color:black;">
                        @{
                            <p class="ml-sm-5" style="margin-bottom: 0px; font-size:large; font-weight:bold; color:#214085;">@ViewData["Title"]</p>
                        }
                    </div>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <main role="main" class="" style="font-size:small">
                    @RenderBody()
                </main>

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap-3-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/bootstrap-3-datepicker/js/locales/bootstrap-datepicker.ko.js" charset="UTF-8"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $(function () {



            $("#sidebarToggle, #sidebarToggleTop").on('click', function (e) {
                //alert("g");
                $("body").toggleClass("sidebar-toggled");
                $(".sidebar").toggleClass("toggled");
                if ($(".sidebar").hasClass("toggled")) {
                    $('.sidebar .collapse').collapse('hide');
                };
            });

            $("#approverTable tr").on("click", function () {
                alert("");
                var seq = $(this).find("input").val();
                //
                alert(seq)
            });
        });

    </script>
</body>
</html>
