<style>
    .collapse-inner > a > span {
        color: black;
        font-size: 0.8rem !important;
    }

    li {
        text-align: center;
    }

        li > a {
            display: inline-block !important;
        }
</style>

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled text-center" id="accordionSidebar" style="position:relative">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
        <h5 class="m-0" style="font-weight:bold;">HANBIZA</h5>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item mb-2">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-search"></i>
            <span>조회</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white collapse-inner rounded">
                @if (ViewBag.menulist[0].근태보기.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/Home/Sub1">
                        <i class="fas fa-fw fa-user-check"></i>&nbsp;
                        <span>근태보기</span>
                    </a>
                }
                @if (ViewBag.menulist[0].연차보기.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/Home/Sub5">
                        <i class="fas fa-fw fa-calendar-alt"></i>&nbsp;
                        <span>연차보기</span>
                    </a>
                }
                @if (ViewBag.menulist[0].급여명세서.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/Home/Sub6">
                        <i class="fas fa-fw fa-coins"></i>&nbsp;
                        <span>급여명세서</span>
                    </a>
                }
            </div>
        </div>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-copy"></i>
            <span>신청</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white collapse-inner rounded">
                @if (ViewBag.menulist[0].OT신청.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/Home/Sub2">
                        <i class="fas fa-fw fa-clock"></i>&nbsp;
                        <span> OT신청 </span>
                    </a>
                }
                @if (ViewBag.menulist[0].휴가신청.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/Home/Sub3">
                        <i class="fas fa-fw fa-plane-departure"></i>&nbsp;
                        <span> &nbsp;휴가신청&nbsp;</span>
                    </a>
                }
                @if (ViewBag.menulist[0].신청.Equals("1"))@*@if (ViewBag.menulist[0].기타신청.Equals("1"))*@
                {
                    <a class="collapse-item text-left" style="" href="/MyInfo/Sub10">
                        <i class="fas fa-fw fa-plus"></i>&nbsp;
                        <span>&nbsp;기타신청&nbsp;</span>
                    </a>
                }
            </div>
        </div>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <i class="fas fa-fw fa-edit"></i>
            <span>결재</span>
        </a>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionSidebar">
            <div class="bg-white collapse-inner rounded">
                @if (ViewBag.menulist[0].휴가결재.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/Home/Sub4">
                        <i class="fas fa-fw fa-pen"></i>&nbsp;
                        <span> &nbsp;휴가결재&nbsp;</span>
                    </a>
                }
                @if (ViewBag.menulist[0].기타결재.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/MyInfo/Sub11">
                        <i class="fas fa-fw fa-pen-fancy"></i>&nbsp;
                        <span> &nbsp;기타결재&nbsp;</span>
                    </a>
                }
                @if (ViewBag.menulist[0].인사평가.Equals("1"))
                {
                    <a class="collapse-item text-left" style="" href="/Home/Sub4">
                        <i class="fas fa-fw fa-user-edit"></i>&nbsp;
                        <span>&nbsp;인사평가&nbsp;</span>
                    </a>
                }
            </div>
        </div>
    </li>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <i class="fas fa-fw fa-archive"></i>
            <span>문서함</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionSidebar">
            <div class="bg-white collapse-inner rounded">
                @if (ViewBag.menulist[0].확인서명.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/MyInfo/Sub7">
                        <i class="fas fa-fw fa-signature"></i>&nbsp;
                        <span>확인서명</span>
                    </a>
                }
                @if (ViewBag.menulist[0].내문서.Equals("1"))
                {
                    <a class="collapse-item text-left" href="/MyInfo/Sub8">
                        <i class="fas fa-fw fa-file-alt"></i>&nbsp;
                        <span>내문서</span>
                    </a>
                }
            </div>
        </div>
    </li>


    <div class="align-bottom" style="position:absolute; bottom:0px; min-width:8rem;">
        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        @if (ViewBag.menulist[0].비밀번호변경.Equals("1"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/MyInfo/Sub9">
                    <i class="fas fa-fw fa-key"></i>&nbsp;
                    <span>비밀번호변경</span>
                </a>
            </li>
        }
        @if (ViewBag.menulist[0].로그아웃.Equals("1"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Account/Logout">
                    <i class="fas fa-fw fa-sign-out-alt"></i>&nbsp;
                    <span>로그아웃</span>
                </a>
            </li>
        }
    </div>
</ul>
<!-- End of Sidebar -->


<script>


</script>


