@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/*html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: block;
    }
}*/

/* ---------------------------------------------------------------------------------------- */

/* GLOBALS */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.loading_body {
    text-align: center;
    margin: 0 auto;
    background: #214085;
    overflow: auto;
}

.loginForm-box-div {
    position: absolute;
    width: 100%;
    height: 320px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*
border-bottom: 0px dotted;
background-color: #c1e7ff;
opacity: 0.9;
filter: alpha(opacity=90);
*/
}
/*
input[type=number] {-webkit-text-security:disc;}
*/
.placeholder::-webkit-input-placeholder {
    color: #fff
}

.logo_img {
    width: 100%;
    height: 10%;
    padding: 10px 0 30px 0;
    border-bottom: solid 0px #bfbfbf;
    text-align: center;
}

.login_label {
    width: 100%;
    height: 10%;
    padding: 8px;
    border-bottom: solid 0px #bfbfbf;
    text-align: center;
    color: #fff;
}

.login_id {
    width: 100%;
    height: 10%;
    padding: 7px;
    border-bottom: solid 0px #bfbfbf;
    font-size: 1.3em;
    text-align: center;
}

.login_pwd {
    width: 100%;
    height: 10%;
    padding: 7px;
    border-bottom: solid 0px #bfbfbf;
    font-size: 1.3em;
    text-align: center;
}

.login_auto {
    width: 100%;
    height: 10%;
    padding: 8px;
    border-bottom: solid 0px #bfbfbf;
    text-align: center;
    color: #fff;
}

.login_btn {
    width: 100%;
    height: 10%;
    padding: 8px;
    border-bottom: solid 0px #bfbfbf;
    text-align: center;
}
/* 로그인 하단 설명문구 */
.login_txt {
    width: 100%;
    height: 10%;
    padding: 8px;
    font-size: 0.7rem;
    font-weight: normal;
    color: #fff;
    border-bottom: solid 0px #bfbfbf;
    text-align: center;
}

.loginForm-box-div input[type=number], .loginForm-box-div input[type=password] {
    width: 50%;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #3763ab;
    color: #fff;
    border: 0;
    outline: none;
}

    .loginForm-box-div input[type=number]:hover, .loginForm-box-div input[type=password]:hover {
        border: solid 1px #fff;
    }

    .loginForm-box-div input[type=number]:focus, .loginForm-box-div input[type=password]:focus {
        border: solid 1px #fff;
    }

input[type=number] {
    -webkit-text-security: disc;
}

input:required:focus {
    border: 1px solid #fff;
    outline: none;
}

.log-button {
    width: 30%;
    background: #3763ab;
    border: 1px solid #3763ab;
    color: #fff;
    margin: 0 auto;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: bold;
}
/*체크박스*/
.checkboxFour input[type=checkbox] {
    width: 1px;
    height: 1px;
}

.checkboxFour {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: #fff;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
}
    /*체크박스 버튼 생성*/
    .checkboxFour label {
        display: inline;
        width: 12px;
        height: 12px;
        border-radius: 100%;
        cursor: pointer;
        position: absolute;
        top: 3px;
        left: 3px;
        z-index: 1;
        background: #fff;
    }
    /* 체크박스 상태 */
    .checkboxFour input[type=checkbox]:checked + label {
        background: #3763ab;
    }

